.blog-sections
  overflow: hidden
  padding-top: 20px

  a
    color: palette(gray)

  h3
    color: $_color-mais-conteudos-text
    font-size: rem(32)
    margin: 0

  h4
    color: $_color-mais-conteudos-text
    font-size: rem(25)
    margin-bottom: 10px

    &:hover
      text-decoration: underline

  p
    font:
      size: rem(16)

  ul
    +remove-list-style

  li
    border-bottom: 1px solid $_color-mais-conteudos-text
    display: block
    float: left
    margin-left: rem(21)
    padding-bottom: 34px
    +size(177px auto)
    overflow: hidden

    &:first-child
      margin-left: 0
