body
  > header
    background-color: palette(white)
    margin-top: 0
    padding-top: rem(32)

    h1
      margin: 0
      +span-columns(3)

    .user-actions
      +span-columns(3)
      +remove-list-style
      height: 50px
      float: right
      text-align: right

      li
        display: inline-block
        margin-top: 13px

    .register
      +default-button

    .login
      +default-button(full)
      padding:
        top: 11px
        bottom: 10px

nav
  background: white
  border:
    top: 1px solid palette(grey, light)
    bottom: 1px solid palette(white)
  margin-top: 30px
  padding:
    top: 15px
    bottom: 15px

  > ul
    +outer-container
    +navigation
