.top-news
  &.arts li
    +span-columns(3)

    > img
      margin-bottom: 10px

    > h4
      margin-top: 10px

  header
    border:
      style: solid
      top-width: 1px
      bottom-width: 1px
      color: palette(gray, light)
      left: none
      right: none
    color: palette(sections, atualiza-enem)
    margin-top: 30px

  h3
    font-size: rem(32)
    margin: 18px 0

  ul
    +remove-list-style

  li
    +span-columns(4)
    padding: 32px 0 16px

    &.last
      margin: 0

    > img
      border: none
      float: right
      margin-left: 34px

    > p
      margin: 0
      font-size: rem(14)

      > a
        color: $_color-base-grey

    > h4
      font:
        size: rem(21)
        weight: bold
      margin: 0

    > a
      text-transform: uppercase
      font-size: rem(12)

  .sem-limites,
  .nuvem-tech,
  .toda-midia,
  .encare-essa

    .tag
      text-transform: uppercase
      font:
        size: rem(12)
        weight: 700

    h4
      a
        text-transform: uppercase

      span
        text-transform: none

  @each $item in $sections
    .#{$item}
      border-bottom: 1px solid palette(sections, $item)
