@import tags
@import banner-colors

[role="banner"]
  background: palette(white, background)
  border-bottom: 1px solid palette(gray, light)
  font-family: $source-sans
  padding:
    top: 68px
    bottom: 68px

  .info
    +span-columns(4)

  figure,
  .figure
    border-bottom: 1px solid palette(tags, destaque)
    +span-columns(8)
    position: relative
    padding-bottom: 10px

    &:after
      background-color: palette(tags, destaque)
      content: " "
      display: block
      bottom: 14px
      position: absolute
      +size(100% 8px)

  h2
    color: palette(tags, destaque)
    font:
      size: rem(36)
      weight: 400

  p
    font:
      size: rem(18)
