$sections: linguagens matematica ciencias-da-natureza ciencias-humanas atualiza-enem mais-conteudos infograficos

.notice
  img
    padding-bottom: 10px

  figure,
  .figure
    &:after
      content: " "
      display: block
      bottom: 14px
      position: absolute
      +size(100% 8px)

  .full:before
    content: " "
    display: block
    position: absolute
    +size(100% 259px)
    top: 0
    left: 0

@each $item in $sections
  .#{$item}.full:before
    background-color: palette(sections, "#{$item}-opaque")

  @if $item == "infograficos"
    .full:before
      background-color: palette(sections, $item)



.highlight
  @each $item in $sections
    &.#{$item}
      &:after
        background-color: palette(sections, $item)

      h3
        color: white

      figcaption,
      .caption
        background-color: palette(sections, "#{$item}-opaque")

      .black
        background-color: transparent
        +background(linear-gradient(transparent, black))

      .button
        &--download
          background-color: palette(sections, $item)

@each $item in $sections
  .#{$item}
    img
      border-bottom: 1px solid palette(sections, $item)

    .tag,
    h3
      color: palette(sections, $item)
