=font
  font-weight: 700
  text-transform: uppercase

=defaults
  +font
  font-size: rem(16)
  border-radius: 3px
  border: none
  padding: rem(10)

=search-button
  background: none
  border: none
  color: palette(blue)
  font-size: rem(16)
  +font
  text-transform: uppercase

  &:hover
    color: palette(blue, light)

=white-text-button
  color: white
  font-size: rem(18)

=default-button($type: null)
  +defaults
  @if $type == null
    background: none
    color: palette(blue)
  @else if $type == black
    +background(linear-gradient(palette(black, 85-darken), palette(black, 90-darken)) left repeat)
    +white-text-button
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#333131, endColorstr=#1B1A1A)
  @else
    +background(linear-gradient(palette(blue, gradient-top), palette(blue, gradient-bottom)) left repeat)
    +white-text-button
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1075AE, endColorstr=#0D6495)

  &:hover
    @if $type == null
      color: palette(blue, light)
    @else if $type == black
      +background(linear-gradient(palette(black, 95-darken), palette(black, 90-darken)) left repeat)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A1919, endColorstr=#1B1A1A)
    @else
      +background(linear-gradient(palette(blue, gradient-top-hover), palette(blue, gradient-bottom)) left repeat)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0D6394, endColorstr=#0D6495)

=button-download
  +default-button(download)
  padding:
    top: 10px
    bottom: 10px
