%font
  font:
    family: $source-sans
    weight: 700
  text-transform: uppercase

%defaults
  @extend %font
  font-size: rem(16)
  border-radius: 3px
  padding: 13px rem(10) 14px

=search-button
  background: none
  border: none
  color: palette(blue)
  font-size: rem(16)
  @extend %font
  text-transform: uppercase

  &:hover
    color: palette(blue, light)

=default-button($type: "null")
  @extend %defaults
  @if $type == "null"
    background: none
    color: palette(blue)
  @else
    +background(linear-gradient(palette(blue, gradient-top), palette(blue, gradient-bottom)) left repeat)
    color: white
    font-size: rem(18)

=button-download
  +default-button(download)
  padding:
    top: 10px
    bottom: 10px
