$_color-base-grey: #626262;
$_color-base-blue: rgb(16, 117, 174);
$_color-base-white: rgb(249, 249, 249);
$_color-base-black: #1A1919;

$_color-linguagens: #E16734;
$_color-matematica: #D72346;
$_color-atualiza-enem: #1075AE;
$_color-ciencias-humanas: #18A1AA;
$_color-ciencias-da-natureza: #AABF3F;
$_color-mais-conteudos: #2AB1FF;
$_color-mais-conteudos-text: #DBA135;
$_color-newsletter-background: #E1E6E4;
$_alpha-level: 0.8;

$palettes: (
  white: (
    base: $_color-base-white,
    background: #FAFAFA,
    02-darken: #F5F5F5,
    03-darken: #FBFBFB,
    04-darken: #F9F9F9,
    05-darken: #FDFDFD,
    10-darken: #EEEEEE,
    15-darken: #A8A8A8,
    20-darken: #F2F2F2
  ),

  grey: (
    base:  $_color-base-grey,
    light: #DFE3E2,
    20-darken: #E3E3E3,
    30-darken: #E1E6E4,
    40-darken: #E6E6E6
  ),

  black: (
    95-darken: #1A1919,
    90-darken: #1B1A1A,
    85-darken: #333131
  ),

  blue: (
    base: $_color-base-blue,
    light: #76C6FF,
    gradient-top: #1075AE,
    gradient-top-hover: #0D6394,
    gradient-bottom: #0D6495
  ),

  yellow: (
    border: #FFDE69,
    background: #FFE763,
    light: #FFFDF6
  ),

  green: (
    base: #9CB03A
  ),

  sections: (
    linguagens: $_color-linguagens,
    matematica: $_color-matematica,
    ciencias-da-natureza: $_color-ciencias-da-natureza,
    ciencias-humanas: $_color-ciencias-humanas,
    atualiza-enem: $_color-atualiza-enem,
    mais-conteudos: $_color-mais-conteudos,
    infograficos: $_color-atualiza-enem,
    global: $_color-mais-conteudos-text,

    // Colors with opacity
    linguagens-opaque: rgba(225, 103, 52, $_alpha-level),
    matematica-opaque: rgba($_color-matematica, $_alpha-level),
    ciencias-da-natureza-opaque: rgba($_color-ciencias-da-natureza, $_alpha-level),
    ciencias-humanas-opaque: rgba($_color-ciencias-humanas, $_alpha-level),
    atualiza-enem-opaque: rgba($_color-atualiza-enem, $_alpha-level),
    mais-conteudos-opaque: rgba($_color-mais-conteudos, $_alpha-level),
    infograficos-opaque: rgba($_color-atualiza-enem, $_alpha-level)

  ),

  tags: (
    destaque: $_color-atualiza-enem,
    ciencias-humanas: $_color-ciencias-humanas
  ),

  footer: (
    social-networks: #383838,
    copyright: #292929
  ),

  social-networks: (
    facebook: #516EC2,
    twitter: #00ACEE,
    google-plus: #DD4B38
  ),

  messages: (
    error-background: #D44444,
    error-border: #BF3D3D,
    success-background: #72AD61,
    success-border: #669C57
  )
);

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}
