$_color-base-grey: #626262;
$_color-base-blue: rgb(16, 117, 174);
$_color-base-white: rgb(249, 249, 249);

$_color-linguagens: #E16734;
$_color-matematica: #D72346;
$_color-atualiza-enem: #1075AE;
$_color-ciencias-humanas: #18A1AA;
$_color-ciencias-da-natureza: #AABF3F;
$_color-mais-conteudos: #2AB1FF;
$_alpha-level: 0.6;

$palettes: (
  white: (
    base: $_color-base-white,
    background: #FAFAFA,
    10-darken: #EEEEEE,
    20-darken: #F2F2F2
  ),

  grey: (
    base:  $_color-base-grey,
    light: #DFE3E2,
    20-darken: #E3E3E3
  ),

  blue: (
    base: $_color-base-blue,
    light: #76C6FF,
    gradient-top: #1075AE,
    gradient-bottom: #0D6495
  ),

  sections: (
    linguagens: $_color-linguagens,
    matematica: $_color-matematica,
    ciencias-da-natureza: $_color-ciencias-da-natureza,
    ciencias-humanas: $_color-ciencias-humanas,
    atualiza-enem: $_color-atualiza-enem,
    mais-conteudos: $_color-mais-conteudos,

    // Colors with opacity
    linguagens-opaque: rgba(225, 103, 52, $_alpha-level),
    matematica-opaque: rgba($_color-matematica, $_alpha-level),
    ciencias-da-natureza-opaque: rgba($_color-ciencias-da-natureza, $_alpha-level),
    ciencias-humanas-opaque: rgba($_color-ciencias-humanas, $_alpha-level),
    atualiza-enem-opaque: rgba($_color-atualiza-enem, $_alpha-level),
    mais-conteudos-opaque: rgba($_color-mais-conteudos, $_alpha-level)

  ),

  tags: (
    destaque: $_color-atualiza-enem,
    ciencias-humanas: $_color-ciencias-humanas
  )
);

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}
