.notice
  > .content
    padding:
      top: 64px
      bottom: 34px

  > .content
    border-bottom: 1px solid palette(grey, 20-darken)

  &.double
    figure,
    .figure
      +span-columns(5)

    .highlight
      +span-columns(7)

  &.triple
    figure,
    .figure
      +span-columns(4)


  .tag
    text-transform: uppercase
    font:
      size: rem(13)
      weight: 900

  h3
    font-size: rem(32)
    margin: 0
  p
    font-size: rem(16)
    line-height: rem(20)


  figure,
  .figure
    position: relative
    z-index: 1

    figcaption,
    .caption
      margin-top: 14px
      padding-top: 18px

  .highlight
    figcaption,
    .caption
      bottom: 4px
      color: white
      display: block
      position: absolute
      +size(100% auto)
      padding: rem(24) rem(26) 0
      z-index: 2

    a
      color: white

    .black
      +background(linear-gradient(transparent, black))
      height: 94.7%
      padding-top: 52.5%

      h3,
      p
        display: block
        width: 300px
        float: left

      h3
        font-size: rem(42)
        line-height: rem(1)
        text-transform: uppercase
        margin-bottom: 20px

      .button
        &--download
          float: right
          margin-top: 10px

    .button
      &--download
        +button-download

.infograficos
  &.full
    &:before
      height: 434px

    figcaption,
    .caption
      position: absolute
      text-align: center
      top: 40%

  h3,
  p
    color: white
    margin: 0 10px

  h3
    font-size: rem(36)
    text-transform: uppercase

  p
    font-size: rem(18)
    margin-top: 10px
