.notice
  > .content
    padding:
      top: 64px
      bottom: 34px

  > .content
    border-bottom: 1px solid palette(grey, 20-darken)

  &.double
    figure,
    .figure
      +span-columns(5)

    .highlight
      +span-columns(7)

      @each $section in $sections
        .#{$section}
          border-bottom: 1px solid palette(sections, $section)
          .black
            border-bottom: 8px solid palette(sections, $section)

  &.triple
    figure,
    .figure
      +span-columns(4)


  .tag
    text-transform: uppercase
    font:
      size: rem(13)
      weight: 900

  h3
    font-size: rem(32)

  p
    font-size: rem(16)
    line-height: rem(20)


  figure,
  .figure
    position: relative
    z-index: 1
    overflow: hidden

    figcaption,
    .caption
      margin-top: 14px
      padding-top: 18px
      padding-bottom: 1px

  .highlight
    figcaption,
    .caption
      bottom: -1px
      color: white
      display: block
      position: absolute
      +size(100% auto)
      padding: rem(24) rem(26)
      z-index: 2

    a
      color: white

    .atualiza-enem
      +background(linear-gradient(transparent, black))
      height: 59%
      padding-top: 91px

      &:hover
        p,
        h3
          border: none

      h3,
      p
        display: block
        float: left
        font-size: rem(18)
        margin: 0
        width: 300px

      h3
        font-size: rem(38)
        text-transform: uppercase
        margin-bottom: 0

      .button
        &--download
          float: right

    .button
      &--download
        +button-download

.infograficos
  &.full
    &:before
      height: 434px
      background-color: palette(sections, atualiza-enem-opaque)
      z-index: 1

    figcaption,
    .caption
      position: absolute
      text-align: center
      top: 29%
      z-index: 2

  a
    display: inline
    &:hover
      h3
        border-bottom: 1px solid white

  h3,
  p
    display: inline
    color: white
    margin: 0 10px

  h3
    font-size: rem(36)
    text-transform: uppercase

  p
    display: inline
    font-size: rem(18)
    margin-top: 10px
    margin-left: 0
