=remove-list-style
  list-style: none
  padding: 0
  margin: 0

=link-blue
  color: palette(sections, atualiza-enem)

  &:hover
    color: $_color-mais-conteudos
    border-bottom: 1px solid $_color-mais-conteudos

=dropdown
  background-color: $_color-atualiza-enem
  border-radius: 6px
  display: none
  text-align: center
  padding: 0
  left: -20px
  top: 32px
  position: absolute
  width: 140%
  z-index: 10

  &:before
    content: " "
    display: block
    position: absolute
    +triangle(16px, $_color-atualiza-enem, up)
    top: -8px
    left: 45%

  li
    display: block
    width: 100%
    padding: 0 20px

    &:hover
      background-color: #2F8BBE
      color: #ADE1FF
      border-left: 4px solid #ADE1FF

    a
      color: white
      display: block
      font:
        size: rem(16)
      text-align: left
      padding: 10px 0
