=navigation
  text-align: left
  padding: 0
  margin:
    top: 0
    bottom: 0

  > li
    border-left: 1px solid palette(grey, light)
    position: relative

    &:hover
      > ul
        visibility: visible
        opacity: 1

      .fa
        +transition(all .25s ease)
        +transform(rotate(180deg))

      .mais-conteudos
        color: $_color-hover

    &:first-child
      border-left: none

    > ul
      +dropdown
      +transition(all .25s ease)

  li
    display: inline-block
    float: left
    position: relative

    &:first-child
      a
        padding-left: 0

    &:last-child
      a
        padding-right: 0

  a
    font:
      size: rem(18)
      weight: 700
    text:
      align: left
      transform: uppercase
    padding: 16px rem(12)
    position: relative
    +transition(all .25s ease)

  .fa
    font-size: rem(14)
    position: absolute
    top: 20px
    right: -22px

  @each $item in $sections
    .#{$item}
      color: palette(sections, $item)

      &:hover
        &:before
          content: " "
          background-color: palette(sections, $item)
          bottom: 0
          left: 0
          height: 6px
          position: absolute
          width: 100%

    @if $item == mais-conteudos
      .#{$item}
        color: palette(sections, atualiza-enem)
