---
title: Recuperar senha
---

<form class="error">
  <legend>
    <span>Recuperar senha</span>
  </legend>

  <div class="success">
    <%= fa_icon_text "check",  "Pedido enviado com sucesso! <br> <span>Você receberá um e-mail com um link para cadastrar a nova senha.<span>".html_safe %>
  </div>

  <fieldset class="actions">
    <ol>
      <li><%= link_to "Voltar", "/users/forget-password" %></li>
    </ol>
  </fieldset>
</form>

<% content_for :users_footer do %>
  <div class="footer">
    <p>Não tem conta? <%= link_to "Cadastre-se", "register" %></p>
  </div>
<% end %>
