---
title: Recuperar senha
---

<form class="error">
  <legend>
    <span>Recuperar senha</span>
  </legend>

  <div class="error">
    <%= fa_icon_text "close",  "Usuário ou senha inválidos." %>
  </div>

  <fieldset class="inputs">
    <ol>
      <li>
        <label for="email">Digite o E-mail cadastrado</label>
        <input type="email" id="email" />
        <%= fa_icon_text "exclamation-triangle", "Tente novamente ou #{link_to 'crie uma nova conta', ''}".html_safe, "inline-error" %>
      </li>
  </fieldset>

  <fieldset class="actions">
    <ol>
      <li><button type="submit">Enviar</button></li>
    </ol>
  </fieldset>
</form>

<% content_for :users_footer do %>
  <div class="footer">
    <p>Não tem conta? <%= link_to "Cadastre-se", "register" %></p>
  </div>
<% end %>
