---
title: Recuperar senha
---

<form>
  <div class="error">
    <%= fa_icon_text "close",  "Usuário ou senha inválidos." %></p>
  </div>

  <fieldset class="inputs">
    <legend>
      <span>Recuperar senha</span>
    </legend>

    <ol>
      <li>
        <label for="email">Digite o E-mail cadastrado</label>
        <input type="email" id="email" />
      </li>
  </fieldset>

  <fieldset class="actions">
    <ol>
      <li><button type="submit">Enviar</button></li>
    </ol>
  </fieldset>
</form>

<% content_for :users_footer do %>
  <div class="footer">
    <p>Não tem conta? <%= link_to "Cadastre-se", "register" %></p>
  </div>
<% end %>
