@import font-awesome

$source-sans: "Source Sans Pro", sans-serif

=set-typography
  body
    font:
      family: $source-sans
      weight: 300

  a,
  p,
  strong,
  b,
  li,
  ul
    font:
      family: $helvetica
      weight: 300
    line-height: normal
    text-decoration: none

  @for $i from 1 through 6
    h#{$i}
      font-weight: 300
