@import saraiva

%show-more
  border-top: 1px solid palette(gray, light)
  clear: both
  padding: 40px 0
  text-align: center

  > a
    +default-button(full)
    text-align: center
    padding:
      left: 15px
      right: 15px

html
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@each $section in $sections
  .#{$section}
    .tag
      color: palette(sections, $section)
    &:hover
      p
        border-bottom: 1px solid #CFCFCF
      @for $i from 1 through 6
        h#{$i} > a
          border-bottom: 1px solid palette(sections, "#{$section}-opaque")
    @for $i from 1 through 6
      h#{$i}
        margin: 4px 0 14px
        > a
          color: palette(sections, $section)

section,
article
  img
    +transition(all 5s ease)
    transform: translate3d(0, 0, 0)
    -ms-backface-visibility: hidden
    -o-backface-visibility: hidden
    backface-visibility: hidden
    &:hover
      +transform(scale(1.1))


body
  background-color: palette(white, 20-darken)
  +set-typography
  color: palette(gray)

.content,
article.post,
article.infograficos
  +outer-container

article.post
  section
    margin-bottom: 74px

.post
  > header
    background:  palette(white, 05-darken)
    margin-bottom: 32px
    border-top: 2px solid palette(sections, atualiza-enem)

    h3
      color: palette(sections, atualiza-enem)

  @each $section in $sections
    > header.#{$section}
      border-top: 2px solid palette(sections, $section)

      h3
        color: palette(sections, $section)

  h3
    font:
      size: rem(32)
      weight: 700
    text-transform: uppercase

  article
    +outer-container

    > header
      border-bottom: 1px solid palette(white, 10-darken)
      margin-bottom: 32px

      h1
        font-weight: 300

section.search-error,
section.search-result
  > header
    h3
      text-transform: none
      font-weight: 400

      > span
        font-size: 32px

        &.text
          color: palette(white, 15-darken)
          font-size: rem(24)

form.filters
  background-color: palette(white, 05-darken)
  border: 1px solid palette(gray, light)
  border-radius: 6px

  legend
    border-radius: 4px 4px 0 0
    background-color: white
    width: 100%
    > span
      color: palette(white, 15-darken)
      border-bottom: 1px solid palette(gray, light)
      display: block
      font:
        size: rem(18)
        weight: 700
      text-transform: uppercase
      padding: 17px
      width: 100%

  ol
    display: block
    margin: 0 24px
    overflow: hidden

  li
    +span-columns(6 of 12)
    margin: 24px 0

    &:first-child
      margin-right: 24px

  label
    display: block
    font:
      size: rem(18)
      weight: 700
    text-transform: uppercase
    margin-bottom: 5px

  select
    cursor: pointer
    background: white
    border: 1px solid palette(gray, light)
    color: $_color-base-grey
    height: 44px
    padding: 20px
    width: 100%
    -webkit-appearance: menulist-button

article.infograficos
  margin-top: 32px
  border: none

  .type
    color: palette(sections, atualiza-enem)

  p
    color: $_color-base-grey
    font-size: rem(16)
    margin: 0
    text-align: left

  > section
    +span-columns(4)
    margin-bottom: 60px

    &.last
      margin-right: 0

  .post-meta
    margin-top: 8px
    padding-top: 20px
    text-transform: uppercase
    font:
      size: 14px
      weight: 600

  h2
    margin: 12px 0


  footer
    @extend %show-more

    .fa
      font-size: rem(14)
.infografico
  .info,
  figure
    +span-columns(6)

  .info
    p
      display: block
      border-bottom: 1px solid palette(gray, light)
      color: $_color-base-grey
      font-size: rem(16)
      margin: 0 0 16px 0
      padding-bottom: 20px

    a
      +default-button(full)
      display: inline-block

  .call-to-action
    margin-top: 42px

.infograficos.related
  > header
    border:
      top: 1px solid palette(gray, light)
      bottom: 1px solid palette(gray, light)
    background: transparent
    margin-bottom: 32px
    padding:
      top: 14px
      bottom: 14px

    h3
      color: palette(sections, atualiza-enem)
      font-size: rem(32)
      text-transform: none

.enem-editions
  +remove-list-style
  margin-top: 20px
  overflow: hidden

  li
    background: white
    border: 1px solid palette(gray, light)
    border-radius: 5px
    +span-columns(3)
    text-align: center
    margin-bottom: 24px
    padding:
      top: 20px
      bottom: 20px

    &.last
      margin: 0

    &:hover
      cursor: pointer

  .year
    display: block
    font-weight: 600

  a
    +default-button
    border-top: 1px solid palette(gray, light)
    display: block
    font-size: rem(18)
    margin: 0 20px
    padding:
      bottom: 0
      top: 17px

.post.search-result,
.post.search-error,
.post.read-latter
  .search-term,
  header > h3
    color: palette(sections, atualiza-enem)

  > header
    border-top-color: palette(sections, atualiza-enem)

  footer
    margin: 32px 0 64px
    text-align: center

  .show-more
    +default-button(full)
    text-align: center
    padding:
      left: 15px
      right: 15px

.search-result,
.read-latter
  .results,
  .notices
    background-color: white
    border: 1px solid palette(gray, light)
    border-radius: 6px

    .category
      color: palette(green, base)
      font:
        size: rem(14)
        weight: 700
      text-transform: uppercase
      overflow: hidden

      p,
      span
        display: inline-block
        float: left

      p
        margin-top: 6px
        margin-right: 10px

      span
        margin-right: 10px

    li
      border-top: 1px solid palette(gray, light)
      cursor: pointer
      padding: 24px
      overflow: hidden

      &:first-child
        border: none

      &:hover
        background-color: palette(white, 04-darken)

        a
          border-bottom: 1px solid palette(green, base)

    h3,
    p
      margin: 0

    h3
      color: palette(green, base)
      font-size: rem(32)
      margin-bottom: 10px

      a
        &:visited
          color: palette(green, base)
