@import saraiva

body
  background-color: palette(white, 20-darken)
  +set-typography
  color: palette(gray)

  a
    color: palette(gray)

.content
  +outer-container

section.users
  > header
    background: white
    border-bottom: 1px solid palette(gray, light)
    margin-bottom: 32px

    h3
      color: $_color-atualiza-enem
      font:
        size: rem(32)
        weight: bold
      text-transform: uppercase
      padding: 24px 0
      margin: 0
