<section class="notice two-columns">
  <div class="content">
    <figure class="highlight ciencias-humanas">
      <%= image_tag "home/banner/fake-highlight.jpg" %>

      <figcaption>
        <a href="" class="tag">Ciências humanas</a>
        <h3>Imigração e Servidão</h3>
        <p>
          Depois de passar décadas enviando mão de obra para o exterior.
          Brasil volta a ser polo de atração de imigrantes,
          principalmente bolivianos e haitianos.
        </p>
      </figcation>
    </figure>

    <figure class="ciencias-da-natureza">
      <img src="http://placehold.it/389x259" />
      <figcaption>
        <a href="" class="tag">Ciências humanas</a>
        <h3>Imigração e Servidão</h3>
        <p>
          Depois de passar décadas enviando mão de obra para o exterior.
          Brasil volta a ser polo de atração de imigrantes,
          principalmente bolivianos e haitianos.
        </p>
      </figcation>
    </figure>
  </div>
</section>
