<section role="banner">
  <div class="content">
    <ul class="tags">
      <li><a href="">Destaque</a></li>
      <li><a href="">Ciências Humanas</a></li>
    </ul>

    <h2>Apps para o bem ou para o mal? Hiperconsumismo</h2>

    <p>
      Eles facilitam o cotidiano das pessoas,
      mas ameaçam invadir sua privacidade.
      Lorem ipsum dolor sit amet consetum
      dlorem lipsum lorem dolor sit amet.
    </p>

    <img src="http://placehold.it/610x400" />
  </div>
</section>
