<section class="notice double">
  <div class="content">
    <figure class="highlight ciencias-humanas">
      <div class="zoom-img">
        <%= image_tag "home/banner/fake-highlight.jpg" %>
      </div>

      <figcaption>
        <a href="" class="tag">Ciências humanas</a>
        <h3><a href="">Imigração e Servidão</a></h3>
        <p>
          <a href="">
            Depois de passar décadas enviando mão de obra para o exterior.
            Brasil volta a ser polo de atração de imigrantes,
            principalmente bolivianos e haitianos.
          </a>
        </p>
      </figcation>
    </figure>

    <figure class="ciencias-da-natureza">
      <div class="zoom-img hover">
        <img src="http://placehold.it/389x259" />
      </div>
      <figcaption>
        <a href="" class="tag">Ciências humanas</a>
        <h3><a href="">Imigração e Servidão</a></h3>
        <p>
          <a href="">
            Depois de passar décadas enviando mão de obra para o exterior.
            Brasil volta a ser polo de atração de imigrantes,
            principalmente bolivianos e haitianos.
          </a>
        </p>
      </figcation>
    </figure>
  </div>
</section>
