<section class="notice triple">
  <div class="content">
     <figure class="ciencias-humanas">
       <div class="zoom-img hover">
        <img src="images/home/ciencias-da-natureza-fake-1.jpg" />
      </div>
      <figcaption>
        <a href="" class="tag">Ciências Humanas</a>
        <h3><a href="">Fim do túnel, Diretas Já e Tancredo Neves, vida e morte</a></h3>
        <p>
          <a href="">
            Fim do túnel, Diretas Já e Tancredo Neves, vida e morte
          </a>
        </p>
      </figcation>
    </figure>

    <figure class="linguagens">
       <div class="zoom-img hover">
        <img src="images/home/fake-2.jpg" />
      </div>
      <figcaption>
        <a href="" class="tag">Ciências humanas</a>
        <h3><a href="">Imigração e Servidão</a></h3>
        <p>
          <a href="">
            Depois de passar décadas enviando mão de obra para o exterior.
            Brasil volta a ser polo de atração de imigrantes,
            principalmente bolivianos e haitianos.
          </a>
        </p>
      </figcation>
    </figure>

    <figure class="infograficos full">
      <img src="images/home/fake-infografico.jpg" />
      <figcaption>
        <a href="">
          <h3>Infográficos</h3>
          <p>
            Complemente os seus estudos com os infográficos <br> da <b>edição #23.</b>
          </p>
        </a>
      </figcation>
    </figure>
  </div>
</section>
