<section role="banner" class="atualiza-enem">
  <div class="content">
    <figure>
      <div class="zoom-img">
        <%= image_tag "home/banner/destaque.png" %>
      </div>
    </figure>

    <div class="info">
      <ul class="tags">
        <li><a href="" class="destaque">Destaque</a></li>
        <li><a href="" class="ciencias-humanas">Ciências Humanas</a></li>
      </ul>

      <h2>
        <a href="">
          Apps para o bem <br>
          ou para o mal?
          Hiperconsumismo
        </a>
      </h2>

      <p>
        <a href="">
          Eles facilitam o cotidiano das pessoas,
          mas ameaçam invadir sua privacidade.
          Lorem ipsum dolor sit amet consetum
          dlorem lipsum lorem dolor sit amet.
        </a>
      </p>
    </div>
  </div>
</section>
