<section class="notice double">
  <div class="content">
    <figure class="linguagens full">
      <img src="http://placehold.it/389x259" />
      <figcaption>
        <a href="" class="tag">Ciências humanas</a>
        <h3><a href="">Imigração e Servidão</a></h3>
        <p>
          Depois de passar décadas enviando mão de obra para o exterior.
          Brasil volta a ser polo de atração de imigrantes,
          principalmente bolivianos e haitianos.
        </p>
      </figcation>
    </figure>

    <div class="figure highlight atualiza-enem">
      <%= image_tag "home/banner/fake-enem.jpg" %>

      <div class="caption black">
        <h3>Atualiza Enem</h3>
        <p>
          Confira a resolução das questões <br>
          do caderno da <b>edição #23</b>.
        </p>

        <%= link_to "Baixar caderno", "", class: "button--download" %>
      </div>
    </div>
  </div>
</section>
