<section class="notice double">
  <div class="content">
    <figure class="matematica">
      <img src="images/home/matematica-fake.jpg" />
      <figcaption>
        <a href="" class="tag">Matemática</a>
        <h3>Imigração e Servidão</h3>
        <p>
          Depois de passar décadas enviando mão de obra para o exterior.
          Brasil volta a ser polo de atração de imigrantes,
          principalmente bolivianos e haitianos.
        </p>
      </figcation>
    </figure>

    <figure class="highlight ciencias-da-natureza">
      <img src="images/home/ciencias-da-natureza-fake.jpg" />

      <figcaption>
        <a href="" class="tag">Ciências da natureza</a>
        <h3>Imigração e Servidão</h3>
        <p>
          Depois de passar décadas enviando mão de obra para o exterior.
          Brasil volta a ser polo de atração de imigrantes,
          principalmente bolivianos e haitianos.
        </p>
      </figcation>
    </figure>
  </div>
</section>
