<section class="notice">
  <article>
    <figure>
      <img src="http://placehold.it/306x258" />
      <figcaption>
        <a href="" class="tag">Ciências humanas</a>
        <h3>Imigração e Servidão</h3>
        <p>
          Depois de passar décadas enviando mão de obra para o exterior.
          Brasil volta a ser polo de atração de imigrantes,
          principalmente bolivianos e haitianos.
        </p>
      </figcation>
    </figure>
  </article>

  <article>
    <figure>
      <img src="http://placehold.it/306x258" />
      <figcaption>
        <a href="" class="tag">Ciências humanas</a>
        <h3>Imigração e Servidão</h3>
        <p>
          Depois de passar décadas enviando mão de obra para o exterior.
          Brasil volta a ser polo de atração de imigrantes,
          principalmente bolivianos e haitianos.
        </p>
      </figcation>
    </figure>
  </article>

  <article>
    <figure>
      <img src="http://placehold.it/306x434" />
      <figcaption>
        <a href="" class="tag">Ciências humanas</a>
        <h3>Imigração e Servidão</h3>
        <p>
          Depois de passar décadas enviando mão de obra para o exterior.
          Brasil volta a ser polo de atração de imigrantes,
          principalmente bolivianos e haitianos.
        </p>
      </figcation>
    </figure>
  </article>
</section>
