<section role="banner" class="atualiza-enem">
  <div class="content">
    <div class="info">
      <ul class="tags">
        <li><a href="" class="destaque">Destaque</a></li>
        <li><a href="" class="ciencias-humanas">Ciências Humanas</a></li>
      </ul>

      <h2>
        <a href="">
          Apps para o bem <br>
          ou para o mal?
          Hiperconsumismo
        </a>
      </h2>

      <p>
        Eles facilitam o cotidiano das pessoas,
        mas ameaçam invadir sua privacidade.
        Lorem ipsum dolor sit amet consetum
        dlorem lipsum lorem dolor sit amet.
      </p>
    </div>

    <figure>
      <%= image_tag "home/banner/destaque.png" %>
    </figure>
  </div>
</section>
