<form class="filters">
  <fieldset class="inputs">
    <legend>
      <span>Filtro de pesquisa</span>
    </legend>

    <ol>
      <li>
        <label>Área do conhecimento</label>
        <select>
          <option>Selecione uma opção</option>
          <% 10.times do %>
            <option>Opção</option>
          <% end %>
        </select>
      </li>

      <li>
        <label>Disciplinas</label>
        <select>
          <option>Selecione uma opção</option>
          <% 10.times do %>
            <option>Opção</option>
          <% end %>
        </select>
      </li>
    </ol>
  </fieldset>
</form>
