<header>
  <div class="content">
    <h1><a href="/">Saraiva Atualiza</a></h1>
    <%= partial "/partials/search" %>
    <%= partial "/partials/user-actions" %>
    <%= partial "/partials/navigation" %>
  </div>
</header>
