<% 3.times do %>
  <section class="petroleo">
    <%= image_tag "http://placehold.it/306x266" %>
    INFOGRÁFICO • CIÊNCIAS HUMANAS
    <h2>Petróleo</h2>
    <p>Veja como é a fabricação dos principais combustíveis utilizados pela frota brasileira.</p>
  </section>

  <section class="vida-iluminada">
    <%= image_tag "http://placehold.it/306x266" %>
    INFOGRÁFICO • CIÊNCIAS DA NATUREZA
    <h2>Vida iluminada</h2>
    <p>Veja como é a fabricação dos principais combustíveis utilizados pela frota brasileira.</p>
  </section>
<% end %>
