<% 3.times do |i| %>
  <section class="petroleo ciencias-humanas <%= "last" if i >= 2 %>">
    <%= image_tag "http://placehold.it/306x266" %>
    <div class="post-meta">
      <span class="type">Infográfico</span> •
      <span class="tag"><a href="">Ciências Humanas</a></span>
    </div>
    <h2><a href="">Petróleo</a></h2>
    <p>Veja como é a fabricação dos principais combustíveis utilizados pela frota brasileira.</p>
  </section>

<% end %>

<% 3.times do |i| %>
  <section class="vida-iluminada ciencias-da-natureza <%= "last" if i >= 2 %>">
    <%= image_tag "http://placehold.it/306x266" %>
    <div class="post-meta">
      <span class="type">Infográfico</span> •
      <span class="tag ciencias-humanas"><a href="">Ciências da Natureza</a></span>
    </div>
    <h2><a href="">Vida iluminada</a></h2>
    <p>Veja como é a fabricação dos principais combustíveis utilizados pela frota brasileira.</p>
  </section>
<% end %>
