<% 3.times do |i| %>
  <section class="petroleo ciencias-humanas <%= "last" if i >= 2 %>">
    <%= image_tag "http://placehold.it/306x266" %>
    <div class="post-meta">
      <span class="type">Infográfico</span> •
      <span class="tag ciencias-humanas">Ciências Humanas</span>
    </div>
    <h2>Petróleo</h2>
    <p>Veja como é a fabricação dos principais combustíveis utilizados pela frota brasileira.</p>
  </section>

<% end %>

<% 3.times do |i| %>
  <section class="vida-iluminada ciencias-da-natureza <%= "last" if i >= 2 %>">
    <%= image_tag "http://placehold.it/306x266" %>
    <div class="post-meta">
      <span class="type">Infográfico</span> •
      <span class="tag ciencias-humanas">Ciências da Natureza</span>
    </div>
    <h2>Vida iluminada</h2>
    <p>Veja como é a fabricação dos principais combustíveis utilizados pela frota brasileira.</p>
  </section>
<% end %>
