<section>
  <header>
    <h3>Mais conteúdos</h3>
    <p>
      Lorem ipsum dolor sit amet consectum dolores lipsum lorem ipsum dolor sit amet conscstum deltmod delta bejta vez qiuoc qminussd
      <br>
      libetusipim pisum dolris du murghalis consectum dolar alto eu covidad cripsum clorem stark trono gueja.
    </p>
  </header>

  <ul>
    <% %w(Trocando\ Ideias Sem\ Limites Backup Encare\ Essa Dialogo\ com\ a\ arte).each do |item| %>
      <li>
        <%= image_tag "icons-big/#{item.parameterize}.png" %>
        <h4><%= item %></h4>
        <p>Lorem ipsum dolor sit amect consectum dolores lipsum dolor lit amet lorem ipsum</p>
      <li>
    <% end %>
  </ul>
</section>
