<section class="subscribe-to-news">
  <header>
    <h3>Receba nossos conteúdos</h3>
    <p>
      Lorem ipsum dolor sit amet concetum dolor amet
      ipsum lorem lipsum dolor lipsum lorem.
    </p>
  </header>

  <form>
    <fieldset class="inputs">
      <ol>
        <li>
          <label for="email">Digite o seu email</label>
          <input type="email" id="email" />
        </li>
      </ol>
    </fieldset>

    <fieldset class="actions">
      <ol>
        <li>
          <button type="submit">Enviar</button>
        </li>
      </ol>
    </fieldset>
  </form>
</section>
