<header class="<%= current_page.data.category.parameterize %>">
  <div class="content">
    <h3 class="<%= current_page.data.category.parameterize %>"><%= current_page.data.page_name || current_page.data.category %></h3>
  </div>
</header>
