<header class="<%= current_page.data.page_name || current_page.data.category %>">
  <div class="content">
    <h3 class="<%= current_page.data.page_name || current_page.data.category %>"><%= current_page.data.page_name || current_page.data.category %></h3>
  </div>
</header>
