<div class="search">
  <form for="">
    <fieldset class="inputs">
      <ol>
        <li>
          <%= fa_icon("search") %>
          <input type="text" />
        </li>
      </ol>
    </fieldset>

    <fieldset class="actions">
      <ol>
        <li><button type="submit">Buscar</button></li>
      </ol>
    </fieldset>
  </form>
</div>
