<div class="search">
  <form for="">
    <fieldset class="inputs">
      <ol>
        <li><input type="text" /></li>
      </ol>
    </fieldset>

    <fieldset class="actions">
      <ol>
        <li><button type="submit">Search</button></li>
      </ol>
    </fieldset>
  </form>
</div>
