<header class="<%= current_page.data.category.parameterize %>">
  <div class="content">
    <h3 class="<%= current_page.data.category.parameterize %>">
      <span class="text">Resultado de busca para:</span> <br>
      <span class="search-term"><%= current_page.data.category %></span>
    </h3>
  </div>
</header>
