<section class="top-news">
  <div class="content">
    <header>
      <h3>As matérias mais lidas</h3>
    </header>

    <ul>
      <% 2.times do %>
        <% %w(Ciências\ Humanas Matemática Ciências\ da\ Natureza).shuffle.each do |item| %>
          <li>
            <h4>Título para <%= item %></h4>
            <p>Texto para <%= item %></p>
            <%= image_tag "http://placehold.it/90x90" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>
