<header>
  <ul class="tags">
    <li class="<%= current_page.data.tag %>"><%= link_to current_page.data.tag, "post" %></li>
  </ul>

  <h1><%= current_page.data.title %></h1>

  <p class="post-meta">
    Por: <span class="author">Por por Osmar Freitas Jr.</span>
    de <span class="location">Nova York</span>
    <time datetime="2015-03-27T20:47:52+00:00">- Março, 2015</time>
    <span class="number">/ Atualiza #25</span>
  </p>
</header>
