---
title: Aplicativos - entre a promessa e as ameaças
category: Ciências Humanas
tag: destaque
---

<section class="post <%= "#{page_classes}" %>">
  <%= partial "/partials/page_header" %>
  <%= partial "/partials/banner_three_columns_simple" %>

</section>
<%= partial "/partials/top_news" %>
