---
title: Aplicativos - entre a promessa e as ameaças
category: Dialogo arte
page_name: Dialogo com a arte
tag: destaque
---

<section class="post">
  <%= partial "/partials/page_header" %>

  <article>
    <%= partial "/post/header" %>

    <%= image_tag lorem.image('695x881'), class: "aligncenter" %>
  </article>
</section>
<%= partial "/partials/arts", locals: { klass: "Sem Limites" } %>
