---
title: Infográficos
page_name: Infográficos
tag: destaque
---

<section class="infograficos">
  <%= partial "/partials/page_header" %>

  <div class="infografico">
    <div class="content">
      <div class="info">
        <p>
          O Brasil é o maior país da América Latina, com um território que se estende por, aproximadamente, 47% da América do Sul. Devido a essa vasta extensão ele possui 23.102 km de fronteiras, sendo 7.367 km marítimas e 15.735 km terrestres, marcadas de modo geral por invasões de terras indígenas, crimes ambientais, narcotráfico e pela entrada de imigrantes ilegais.
        </p>
      </div>
      <figure>
        <%= image_tag "http://placehold.it/456x246" %>
      </figure>
    </div>

    <section class="call-to-action">
      <div class="content">
        <div class="header">
          Faça o <%= link_to "LOGIN", "users/login" %> ou <%= link_to "CADASTRE-SE", "users/register" %> para conferir esta matéria na íntegra<br>
          e ter acesso a conteúdos exclusivos.
        </div>
      </div>
    </section>
  </div>
</section>
