---
title: Infográficos
---

<section class="filter-infographics">
  <header>
    <h1><%= current_page.data.title %></h1>
  </header>

  <%= partial "/partials/filter_form" %>
</section>

<article class="infographics">
  <%= partial "partials/inphographics-list" %>

  <footer>
    <%= link_to "Mostrar mais infográficos", "" %>
  </footer>
</article>
