---
title: Aplicativos - entre a promessa e as ameaças
category: Ciências Humanas
tag: destaque
---

<section class="post <%= "#{page_classes}" %>">
  <%= partial "/partials/search_header" %>
</section>

<section class="call-to-action">
  <div class="content">
    <div class="header">
      <b>Ops!</b> Não encontramos nenhum resultado para: <br>
      <span class="search-term">“Ciências da natureza”</span>
    </div>

    <p><b>Sugerimos que faça uma nova busca</b></p>
    <%= partial "/partials/search" %>
  </div>
</section>
