---
title: Termos de uso
category: Termos de uso
---

<section class="post terms">
  <%= partial "/partials/page_header" %>

  <div class="content">
    <h2>Termos de uso do Atualiza</h2>

    <ol>
      <% 5.times do %>
        <li class="open">
          <span>INFORMAÇÕES COLETADAS <%= fa_icon "chevron-down" %></span>
          <ol>
            <% 4.times do %>
              <li>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean euismod bibendum laoreet.
                  Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  Proin sodales pulvinar tempor. Cum sociis natoque
                  penatibus et magnis dis parturient montes.

                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean euismod bibendum laoreet.
                  Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  Proin sodales pulvinar tempor. Cum sociis natoque
                  penatibus et magnis dis parturient montes.

                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean euismod bibendum laoreet.
                  Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  Proin sodales pulvinar tempor. Cum sociis natoque
                  penatibus et magnis dis parturient montes.

                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean euismod bibendum laoreet.
                  Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  Proin sodales pulvinar tempor. Cum sociis natoque
                  penatibus et magnis dis parturient montes.
                </p>
              </li>
            <% end %>
          </ol>
        </li>
      <% end %>
    </ol>
  </div>
</section>
