---
title: Aplicativos - entre a promessa e as ameaças
category: Ciências Humanas
page_name: Ver mais Tarde
tag: destaque
---

<section class="post <%= "#{page_classes}" %>">
  <%= partial "/partials/page_header" %>

  <div class="content">
    <%= partial "/partials/filter_form" %>

    <ol class="results">
      <% 6.times do %>
        <li>
          <div class="category">
            <p>Ciências da Natureza</p>
            <span><img src="/images/icons/atomo.png" class="tooltip" title="Biologia" /></span>
            <span><img src="/images/icons/telescope.png" class="tooltip" title="Telescópio" /></span>
          </div>
          <h3><a href="">FIAT Lux!</a></h3>
          <p>
            <img src="http://placehold.it/220x120" class="alignright" />
            2015 será o ano internacional da Luz, iniciativa da Organização das Nações Unidas
            para aumentar as alternativas de consumo da eletricidade com sustentabilidade.
          </p>
        </li>
      <% end %>
    </ol>
  </div>

  <footer>
    <div class="content">
      <%= link_to "#{fa_icon 'chevron-down'} Mostrar mais infográficos #{fa_icon 'chevron-down'}", "", class: "show-more" %>
    </div>
  </footer>

</section>
