---
title: Aplicativos - entre a promessa e as ameaças
category: Read Latter
page_name: Ver Mais Tarde
tag: destaque
---

<section class="post read-latter">
  <%= partial "/partials/page_header" %>

  <div class="content">
    <%= partial "/partials/filter_form" %>

    <p class="search-time">20 resultados encontrados (0,31 segundos) </p>

    <ol class="results">
      <% 6.times do %>
        <li>
          <span class="category">Ciências da Natureza</span>
          <h3><a href="">FIAT Lux!</a></h3>
          <p>
            2015 será o ano internacional da Luz, iniciativa da Organização das Nações Unidas
            para aumentar as alternativas de consumo da eletricidade com sustentabilidade.
          </p>
        </li>
      <% end %>
    </ol>
  </div>
</section>
